body{
  text-align: center;
  background-color: hsl(225, 100%, 94%)
}

.boldy{
  background-color: black;
  font-size: 16px;
  font-family: 'Red+Hat+Display', sans-serif;
}

.coldy{
  font
  font-size: 16px;
  font-family: 'Red+Hat+Display', sans-serif;
}

.hi{
  position: static;
  margin-left: auto;
  margin-right: auto;
  margin-top: -720px;
  border-radius: 50%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;



}



.pi{
  font-size: 16px;
  position: static;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 450px;
  background-color: hsl(225, 100%, 98%);
  font-family: 'Red+Hat+Display', sans-serif;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.kiv{
  font-size: 13px;
  font-family: 'Red+Hat+Display', sans-serif;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 400px
  /* color: hsl(224, 23%, 55%); */

}

.greyRec{
  position: static;
  margin-left: auto;
  margin-right: auto;
  margin-top: -400px;
  margin-bottom: 0px;

  height: 100px;
  width: 380px;
  background-color: hsl(225, 100%, 94%);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.picIc{
  margin-left: -275px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: -75px;
}

.picTex{
  font-size: 16px;
  font-family: 'Red+Hat+Display', sans-serif;
  margin-left: -100px;
  margin-right: auto;
  margin-bottom: 150px;
  margin-top: 0px;
}
